#noir, #rouge, #gris, #bleu, #blanc{
    width:20px;
    height:20px;
    border-radius:50%;
    margin:10px;
}
#noir{
    background-color: black;
}
#blanc{
    border: solid black 1px;
}
#rouge{
    background-color:darkred;
}
#bleu{
    background-color: darkblue;
}
#gris{
    background-color: lightgray;
}
#Achat{
    /*background-color: rgb(1, 139, 1);*/
    text-align: center;
}
#Achat div{
    display:inline-block;
}
#Achat li{
    display: inline-block;
}
#bouton{
    color:white;
    background-color: black;
    padding:5px 35px;
    border-radius: 10px;
}

footer{
    display:flex;
    flex-direction: row;
}
footer img, footer p{
    background-color: magenta;
}

footer{
    display:block;
}
.smartphone{
    flex:0 1 50%;
    background-color: midnightblue;
}

#nav ul{
    list-style: none;
    
   
   
  
}

a{
    text-decoration: none;
    color:black;
}

nav{
    display:flex;
    justify-content: flex-end;

  
}

nav ul li{
    display: inline-block;
    margin: 0 15px;
    font-size: 25px;
    
}


nav a:hover { 
    font-style: italic;
    font-weight: bold;

}

#Produit p{
margin:auto;
width:50%;
}

#Produit img{
    margin:auto;

    }
