body{
    font-family: 'Roboto', sans-serif;
}
#noir, #rouge, #gris, #bleu, #blanc{
    width:20px;
    height:20px;
    border-radius:50%;
    margin:10px;
}
#noir{
    background-color: black;
}
#blanc{
    border: solid black 1px;
}
#rouge{
    background-color:darkred;
}
#bleu{
    background-color: darkblue;
}
#gris{
    background-color: lightgray;
}
#Achat{
    /*background-color: rgb(1, 139, 1);*/
    text-align: center;
}
#Achat div{
    display:inline-block;
}
#Achat li{
    display: inline-block;
    margin:0 20px;
}
#bouton{
    color:white;
    background-color: black;
    padding:5px 35px;
    border-radius: 10px;
}




.smartphone{
    position: absolute;
    left:25%;
}
.image, footer p{
    position: relative;
    left: 65%;
    bottom: 0px;
    margin-top:2%;
}
footer p{
    width: 20%;
    font-style: italic;
}
footer p, h1{
    
    font-size:80px;
    font-weight: bold;
}

#nav ul{
    list-style: none;
    
   
   
  
}

a{
    text-decoration: none;
    color:black;
}

nav{
    display:flex;
    justify-content: flex-end;

  
}

nav ul li{
    display: inline-block;
    margin: 0 15px;
    font-size: 25px;
    
}


nav a:hover { 
    font-style: italic;
    font-weight: bold;

}

#Produit{
margin: 170px auto;
width:50%;
/*background-color: grey;*/

}

.cell p, .cell img{
    display: inline-block;
   /* background-color: honeydew;*/
    margin:20px auto;

    }
  

.maskachat {
    margin: 60px;
}
.fleche{
    margin-bottom:12%;
}
#bouton{margin:20px;}
.mask{
    position: relative;
    right:0px;
}
#Accueil{
text-align: center;
}